#tabla {
    width: 30%;
     
}

#tablaContactos {
	width: 60%; 
}

.nombreTabla {
    font-size: 30px;  
}

.alineariconos {
	align-content: center; 
}

#huecoTabla {
    min-height: 300px; 
}

#formulario {
    margin-top: 100px; 
    padding-top: 100px;
    font-family:'Lato', sans-serif;
}
