.divListado {
    margin-top: 100px; 
    padding-top: 100px; 
    height: auto;
    margin: 0 auto;
    border:1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 170px; 
}

#tablaContactos {
    width: 60%; 
    align-self: center; 
}

.nombreTabla {
    font-family:'Lato', sans-serif;
    font-size: 20px; 
}

