<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>FORMULARIO DE PROVINCIAS</title>
</head>
<body>
	<title>FORMULARIO DE PROVINCIAS</title>
</head>
<body>
	<div align="center">
		<h1>FORMULARIO DE PROVINCIAS (add/edit)</h1>

		<form th:action="${addProvincia}" method="post"
			th:object="${provincia}">
			<table>
				<tr>
					<td>Nombre:</td>
					<td><input type="text" th:field="*{nombre}" /></td>
				</tr>
				<td colspan="2" align="center"><input type="submit"
					value="Guardar Registro"></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>