<div class="col-md-6" id="formulario">
	  <form>
		<div class="form-group">
		  <label for="nombre">Nombre:</label>
		  <input type="text" [(ngModel)]="this.contacto.persona.nombre" placeholder="Nombre" name="nombre" class="form-control">
		</div>
	  
		<div class="form-group">
		  <label for="apellido1">Primer Apellido:</label>
		  <input type="text" [(ngModel)]="contacto.persona.apellido1" placeholder="Apellido1" name="apellido1" class="form-control">
		</div>

		<div class="form-group">
				<label for="apellido2">Segundo Apellido:</label>
				<input type="text" [(ngModel)]="contacto.persona.apellido2" placeholder="Apellido2" name="apellido2" class="form-control">
			  </div>
	  
		 <div class="form-group">
				<label for="dni">DNI:</label>
				<input type="text" [(ngModel)]="contacto.persona.dni" placeholder="Dni" name="dni" class="form-control">
		  </div>

		  <div class="form-group">
				<label for="Fecha">Fecha de Nacimiento:</label>
				<input type="text" [(ngModel)]="contacto.persona.fechanacimiento" placeholder="Fecha" name="dni" class="form-control">
		  </div>

		  <div class="form-group">
				<label for="telefono">Telefono:</label>
				<input type="number" [(ngModel)]="contacto.telefonomovil.telefono" placeholder="Telefono" name="telefono" class="form-control">
		  </div>

		  <div class="form-group">
				<label for="direccion">Direccion:</label>
				<input type="text" [(ngModel)]="contacto.direccion.direccion" placeholder="Direccion" name="direccion" class="form-control">
		  </div>

		  <div class="form-group">
                <label for="localidad">Localidad:</label>
                <input type="text" [(ngModel)]="contacto.direccion.localidad" placeholder="Localidad" name="Localidad" class="form-control">
          </div>
		<button class="btn btn-success" (click)="addContacto()">Crear</button>
	  </form>
</div>