
    @charset "utf-8";
/* CSS Document */

*
    {
    font-family:'Lato', sans-serif;
    font-size: 15px; 
    }


.header
    {
    position: relative; 
    padding: 60px; 
    padding-bottom: 10px; 
    text-align: center;
    background: #4CAF50; 
    color: white;  
    }

.header h1
    {
    font-size: 80px; 
    color: black; 
    font-family: 'Anton', sans-serif;
    }

.header p
{
    font-size: 30px; 
    font-family: 'Anton', sans-serif;
    }

.nav 
    {
    position: relative; 
    background-color: black; 
    color: white; 
    top: 0; 
    overflow: hidden; 
    width: 100%; 
    float: left;  
    }

.nav ul
    {
    float: left; 
    list-style-type: none;
    position: relative; 
    margin: 0 auto; 
    padding: 0; 
    }

.nav li
    {
    float: left; 
    }

.nav li a 
    {
    display: block;
    padding: 30px 30px;
    text-decoration: none;
    color: white;
    text-align: center; 
    }

.nav li a:hover
    {      
    background-color: #ddd; 
    color: black; 
    }

.cabecera 
    {
    font-family:'Lato', sans-serif;
    font-size: 30px; 
    }
    
body {min-height:100%}
 
#formulario {
    margin-top: 100px; 
    padding-top: 100px;
    font-family:'Lato', sans-serif;
}

.cuerpoAdd {
	margin-top: 50px; 
	padding-top: 50px;
}

#nombre
{
    font-size: 30px; 
; 
}

#registro 
{
    font-size: 30px;  
}

#cuadroblanco {
	width: 55%; 
}

#tabla {
    width: 30%;
     
}

#tablaContactos {
	width: 60%; 
}

.nombreTabla {
    font-size: 30px;  
}

.alineariconos {
	align: center; 
}

#huecoTabla {
    min-height: 300px; 
}


footer
    {
    position: relative; 
    background-color: black; 
    color: white; 
    bottom: 0; 
    width: 100%; 
    height: 200px; 
    text-align: center; 
    margin-top: 8px; 
    margin-bottom: 0px; 
    }

.author 
    {
    font-family:'Lato', sans-serif;
    font-size: 30px;  
    padding-top: 50px; 
    }